<h2>Actividades GYM 4V</h2>



 <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha Comienzo</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities">
            <th scope="row">{{activity.startDate| date: 'dd/MM/yyyy HH:mm'}}</th>
            <td>{{activity.endDate| date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{activity.activityType.name}}</td>
         </tr>
    </tbody>
  </table>
 
