<h2>Actividades GYM 4V</h2>



 <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Lugar</th>
        <th scope="col">Monitor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities">
            <th scope="row">{{activity.date | date: 'dd/MM/yyyy HH:mm'}}</th>
            <td>{{activity.place}}</td>
            <td>{{activity.monitor}}</td>
            <td>{{activity.type}}</td>
         </tr>
    </tbody>
  </table>
 
