<!--<div [hidden]="submitted">-->
<div>
    <div class="form-group">
        <label for="monitor">Monitor</label>
        <input type="text" class="form-control" id="monitor"
                required
                [(ngModel)]="activity.monitor" name="monitor" #monitor="ngModel">
        <div [hidden]="monitor.valid || monitor.pristine"
            class="alert alert-danger">
            Monitor is required {{monitor.valid}}, {{monitor.pristine}}
        </div>
    </div>
      
    <div class="form-group">
        <label for="place">Lugar</label>
        <input type="text"  class="form-control" id="place"
                [(ngModel)]="activity.place" name="place">
    </div>
    
    <div class="form-group">
        <label for="date">Fecha</label>
        <input type="datetime-local"  class="form-control" id="date"
                [(ngModel)]="activity.activity_date" name="date">
    </div>
      
    <div class="form-group">
        <label for="type">Tipo</label>
        <select class="form-control"  id="type"
                required
                [(ngModel)]="activity.type" name="type">
            <option *ngFor="let activityType of activityTypes" [value]="activityType">{{activityType}}</option>
        </select>
    </div>
    
    <button type="button" class="btn btn-default" (click)="newActivity()">New Activity</button>
    {{activity | json}}
</div>

